/* Make responsive collapsibles */
.collapsible {
    background-color: #222;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    /* margin-bottom: 18px; */
  }
  
  .active, .collapsible:hover {
    background-color: #555;
 
  }
  
  .collapsibleContent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(23, 22, 22);
    /* margin-bottom: 18px; */
  }

  .flex-container {
    display: flex;
    align-items: flex-start; /* Align items to the start */
    gap: 20px; /* Space between image and text */
  }
  
  .collapsibleImage {
    max-width: 100%;
    height: auto;
  }

  .center-main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  }

  figcaption {
    text-align: center;
    font-size: 14px;
    color: #dbdbdb;
  }

  .image-center {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Ensure the container takes full width */
  }

  .center-diagram-image {
    max-width: 100%;
    height: auto;
    transform: rotate(-90deg);
  }
  
  @media (max-width: 1180px) {
    .flex-container {
      flex-direction: column; /* Stack items vertically on small screens */
      align-items: center; /* Center items horizontally */
    }
    
  }